/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
.interface_conn_insc {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.connexion {
    margin-left: auto;
    margin-right: 0;
    background-color: aliceblue;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.inscription_misc {
    margin-left: 100px;
    padding: 0 10% 0 0;
}

.inscription {
    margin-right: auto;
    background-color: aliceblue;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.inscription_block {
    margin-left: 0;
    margin-right: auto;
    margin: 0 0 0 30%;
}
*/

/*Font customisés*/

@font-face {
    font-family: "Lemonada";
    src: url(../font/Lemonada-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Lemonada";
    font-weight: bold;
    src: url(../font/Lemonada-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "DMSans";
    src: url(../font/DMSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "DMSans";
    font-weight: bold;
    src: url(../font/DMSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "DMSans";
    font-style: italic;
    src: url(../font/DMSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: "DMSans";
    font-weight: bold;
    font-style: italic;
    src: url(../font/DMSans-BoldItalic.ttf) format('truetype');
}

/*Style CSS de la page*/

*
{
    color: black;
    text-align: center;
    font-family: DMSans, sans-serif;
}

footer{
    height: 100px;
    background-color: #33CC99;
    align-items: center;
}

header{
    height: 100px;
    background-color: #33CC99;
    align-items: center;
}

.title{
    font-family: Lemonada, cursive;
}

.object_table {
    background-color: aqua;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.object_td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#image_centrale {
    background-image:url(../images/maisonPositive.jpg);
    background-repeat : no-repeat;
    background-position : center;
    background-size : 100%;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#menu_accueil {
    font-size : 20px;
    background-color: white;
    opacity: 0.66;  
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*
#banniere{
    height: 200px;
}

#body_con
{
    background-image: url("../images/Polytech_Tours_Portalis.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    
}
#frm_connexion
{
    align-items: center;
    background-color: honeydew;
    border-bottom: 5px red double;
    border-top: 5px blue groove;
    border-right: 5px yellow outset;
    border-left: 5px bisque inset;
    margin: 25px 150px 75px 150px;
}
#lbl_connexion
{
    color: blue;
    font-size: 30px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    text-shadow: 2px 5px 3px brown;
}
#btn_reset:hover{
    border-radius: 50px 50px 50px 50px;
}
#btn_login:hover{
    border-radius: 100px;
}

.ma_class_button{
    height: 50px;
    width: 100px;
    border-radius: 10px 50px 10px 50px;
}
.imageflottante
{
    float: right;
    clear: both;
}
.texte_design{
    color: red;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold; 
}

h1 a
{
    color: blueviolet;
    text-decoration: underline;
}
h2 a
{
    color: darkviolet;
    text-decoration: line-through;
}
form > input, form > label
{
    font-family: Arial, "Times New Roman", monospace, serif, "sans-serif";
    font-size: medium;
    box-shadow: 0px 1px 1px 1px grey;
    margin: 5px 0 5px 0;
    padding: 2px;
    border-radius: 20px;
}
fieldset
{
    width: 250px;
}
form > label
{
    width: 250%;
}
form > input:hover
{
    color: orangered;
}
#txt_login:hover, #txt_password:hover
{
    color: blue;
}
h2
{
    font-style: oblique;
    text-align: center;
}
h1
{
    font-style: italic;
    text-align: center;
}
a:visited
{
    color: chartreuse;
}
a:active
{
    color: bisque;
}
a:hover
{
    color: blue;
}*/